# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
*.user*
*.java
*.apk
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

#android build
*Desktop*
*build*
*Debug*
# QtCreator

*.autosave
# for YouCompleteMe plugin
*.ycm*
